<div>
    <input
        placeholder="Search"
        class="search-input"
        [matAutocomplete]="auto"
        (keyup)="handleChange($event)"
    />
    <mat-autocomplete
        #auto="matAutocomplete">
        <div *ngFor="let index of state.indices || []">
            <mat-option
            *ngFor="let option of index.hits"
            [value]="option.displayName"
            (click)="onQuerySuggestionClick.emit({ query: option.displayName})">
            <span class="auto-displayname">{{ option.displayName }}</span>
            <span class="auto-username"> @{{option.username}}</span>
            </mat-option>
        </div>
    </mat-autocomplete>   
</div>


<!-- <input class="search-input" autocomplete="off"> -->

