<mat-sidenav-container class="sidebar">
  <!-- This sidenav controls the sorting and content type -->
  <mat-sidenav mode="side" opened>
    <mat-list>
      <!-- search options -->
      <div mat-subheader>Search for:</div>
        <mat-selection-list [(ngModel)]="searchOption" (ngModelChange)="onSearchChanged($event)" #search [multiple]="false">
          <mat-list-option value='Recipes'>
            <mat-icon mat-list-icon>format_list_numbered</mat-icon> Recipes
          </mat-list-option>
          <mat-list-option value='Users'>
            <mat-icon mat-list-icon>person</mat-icon> Users
          </mat-list-option>
        </mat-selection-list>
      <mat-divider></mat-divider>
    </mat-list>
    
    <!-- sort options for recipes -->
    <mat-expansion-panel #recipePanel [disabled]='showResults' *ngIf='searchOption[0] === "Recipes"'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sort
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-selection-list [(ngModel)]="recipeOption" (ngModelChange)="onRecipeSortChanged($event)" #sortRecipes [multiple]="false">
        <mat-list-option value='Time Created'>
          <mat-icon mat-list-icon>access_time</mat-icon> Time Created
        </mat-list-option>
        <mat-list-option value='Number of Ingredients'>
          <mat-icon mat-list-icon>list_alt</mat-icon> Number of Ingredients
        </mat-list-option>
        <mat-list-option value='Name'>
          <mat-icon mat-list-icon>text_format</mat-icon> Name
        </mat-list-option>
      </mat-selection-list>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="isChecked">{{ isChecked ? 'Descending' : 'Ascending' }}
        </mat-slide-toggle>
      </mat-list-item>
    </mat-expansion-panel>

    <!-- sort options for users -->
    <mat-expansion-panel [disabled]='showResults' #recipePanel *ngIf='searchOption[0] === "Users"'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sort
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-selection-list [(ngModel)]="userOption" (ngModelChange)="onUserSortChanged($event)" #sortUsers [multiple]="false">
        <mat-list-option value='Time Created'>
          <mat-icon mat-list-icon>access_time</mat-icon> Time Created
        </mat-list-option>
        <mat-list-option value='Number of Recipes'>
          <mat-icon mat-list-icon>list_alt</mat-icon> Number of Recipes
        </mat-list-option>
        <mat-list-option value='Name'>
          <mat-icon mat-list-icon>text_format</mat-icon> Name
        </mat-list-option>
      </mat-selection-list>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="isChecked">{{ isChecked ? 'Descending' : 'Ascending' }}
        </mat-slide-toggle>
      </mat-list-item>
    </mat-expansion-panel>
  </mat-sidenav>

  <!-- the content within the actual page -->
  <mat-sidenav-content>
    <!-- displays the user search bar -->
    <div *ngIf='this.searchOption[0] == "Users"' class="content">
      <ais-instantsearch [config]="configUsers">
        <app-search-box (noQuery)='displayResults($event)' contentType='Search for users' [delay]='500'></app-search-box>
          <ais-hits *ngIf='showResults'>
            <ng-template let-hits="hits">
                <div class="search-content-container">
                  <app-profile-card *ngFor="let user of hits" (click)='goToUser(user.username)'
                    [user]='{displayName: user.displayName, username: user.username, picUrl: user.picUrl}'>
                  </app-profile-card>
                </div>
            </ng-template>
          </ais-hits>
      </ais-instantsearch>
    </div>

    <!-- displays the recipe search bar -->
    <div *ngIf='this.searchOption[0] == "Recipes"' class="content">
      <ais-instantsearch [config]="configRecipes">
        <app-search-box (noQuery)='displayResults($event)' contentType='Search for recipes' [delay]='500'></app-search-box>
          <ais-hits *ngIf='showResults'>
            <ng-template let-hits="hits">
                <div class="search-content-container">
                  <app-recipe-card *ngFor="let recipe of hits" [recipe]='{recipeName: recipe.recipeName, difficulty: recipe.difficulty, description: recipe.description}'>
                  </app-recipe-card>
                </div>
            </ng-template>
          </ais-hits>
      </ais-instantsearch>
    </div>

    <!-- displays the widgets for the search type and sort type if no query is given to the search bar -->
    <div *ngIf='!showResults'>
      <app-discover-display [contentType]='this.searchOption[0]' [direction]='this.isChecked' 
      [sortType]='this.searchOption[0] === "Recipes" ? this.recipeOption[0] : this.userOption[0]'>
      </app-discover-display>
    </div>

   
  </mat-sidenav-content>
</mat-sidenav-container>


