<div class="profile-avatar-container" matRipple
    [matMenuTriggerFor]='menu'
    [matRippleRadius]='20'
    [matRippleCentered]='true'>
    <!-- blank profile is free for comercial use from :
        https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/ -->
    <img *ngIf='!loggedIn' src="assets/images/blank-profile.png" alt="Profile photo" class="profile-img">
    <img *ngIf='loggedIn && (picUrl == undefined)' src="assets/images/blank-profile.png" alt="Profile photo of {{displayName}}" class="profile-img">
    <img *ngIf='loggedIn && (picUrl != undefined)' src={{picUrl}} alt="Profile photo of {{displayName}}" class="profile-img">
</div>
<mat-menu #menu="matMenu">
    <button *ngIf="loggedIn" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>My Profile</span>
    </button>
    <button *ngIf="loggedIn" mat-menu-item>
        <mat-icon>favorite_border</mat-icon>
        <span>My Wishlist</span>
    </button>
    <button *ngIf="loggedIn" mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>My Shoppinglist</span>
    </button>
    <button (click)="logout()" *ngIf="loggedIn" mat-menu-item >
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
    </button>
    <button (click)="signIn()" *ngIf="!loggedIn" mat-menu-item>
        <mat-icon>input</mat-icon>
        <span>Log In</span>
    </button>
</mat-menu>