$icon-size: 20px;
.mat-icon {
    font-size: $icon-size;
    cursor: pointer;
}

form{
    margin-top: 0;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin-bottom: 0px;
}

h3{
    color: #3f51b5;
}

.name-header{
    display: block;
    margin-left: 10px;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
}
