<h1>About Me <mat-icon aria-label="Edit icon" (click)='editValue("aboutme")'>edit</mat-icon></h1>
<h3 *ngIf='!aboutMeForm'>{{ userData.aboutme }}</h3>

<form *ngIf='aboutMeForm' (submit)="onSubmit()">
    <mat-form-field appearance="outline">
        <textarea matInput 
          [formControl]='aboutMeForm'
          maxlength="100"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="4">
      </textarea>
    </mat-form-field>
    <button type="submit" color="primary" mat-icon-button><mat-icon>check</mat-icon></button>
    <button mat-icon-button color="warn" (click)="cancelForm()"><mat-icon>close</mat-icon></button>
</form>

<!-- <mat-divider></mat-divider> -->
<h1>My Recipes</h1>
<!-- <mat-divider></mat-divider> -->
<h2>Following</h2>

