<mat-card *ngIf='user' class="profile-card">
  <img mat-card-image *ngIf='user.picUrl !== "" && user.picUrl !== "assets/images/blank-profile.png"' [src]='user.picUrl' alt="Profile photo of {{ user.displayName }}" class="card-img">
  <img mat-card-image *ngIf='user.picUrl === "" || user.picUrl === "assets/images/blank-profile.png"' src='assets/images/blank-profile.svg' alt="Profile photo of {{ user.displayName }}" class="card-img">
  <mat-divider></mat-divider>
  <mat-card-header>
    <mat-card-title>{{ displayName }}</mat-card-title>
    <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
