<div *ngIf="shoppingListMap">
  <div *ngIf="shoppingListMapKeys">
    <div *ngIf="shoppingListMapKeys.length !== 0">
      <mat-card>
        <mat-card-title>Shoppinglist</mat-card-title>
        <mat-card-content>
          <ul>
            <div *ngFor="let key of shoppingListMapKeys" class="item-buttons-pair">
              <li>{{key}} x {{shoppingListMap.get(key)}}</li>
              <div class="buttons-pair">
                <button mat-raised-button color="primary" type="button" (click)="removeItem(key)">Remove x1</button>
                <button mat-raised-button color="primary" type="button" (click)="removeMultiple(key)">Remove Multiple</button>
              </div>
            </div>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="shoppingListMapKeys.length === 0">
      <mat-card>
        <mat-card-title>Shoppinglist</mat-card-title>
        <mat-card-content>
          <p>There are no items in your shopping list</p>
        </mat-card-content>
      </mat-card>
    </div>  
  </div>
</div>