.spacer{
    flex:     1 1 auto;
}

a:hover{
    text-decoration: none;
    color: red;
}

a:active{
    text-decoration: none;
    color: red;
}

a:visited{
    text-decoration: none;
    color: red;
}

a{
    border-radius: none;
}