<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Basil</span>

    <button routerLink="/home" mat-button>Home</button>
    <button routerLink="/discover" mat-button>Discover</button>
    <button routerLink="/upload-recipe" mat-button>Upload Recipe</button>

    <input
        placeholder="Search"
        class="search-input"
        #queryInput
        (keyup)="handleChange($event)"/>
    <span class="example-spacer"></span>
    <app-profile-menu></app-profile-menu>
</mat-toolbar>