<div class="page-container">
  <div class="form-container">
    <h2>Join Now</h2>
    <h4 class="error" *ngIf="error != ''">{{ error }}</h4>
    <form [formGroup]="signUpForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. John Doe" formControlName="displayName" autocomplete="off" required>
        <mat-error *ngIf="signUpForm.controls.displayName.invalid">
          <span *ngIf="signUpForm.controls.displayName.errors.required">This field is mandatory.</span>
          <span *ngIf="signUpForm.controls.username.errors.maxlength">Invalid. Must be less that 50 characters long.</span>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="off" placeholder="Ex. johndoe123" required>
        <mat-error *ngIf="signUpForm.controls.username.invalid">
          <span *ngIf="signUpForm.controls.username.errors.required">This field is mandatory.</span>
          <span *ngIf="signUpForm.controls.username.errors.minlength">Invalid. Must be at least 3 characters long.</span>
          <span *ngIf="signUpForm.controls.username.errors.maxlength">Invalid. Must be less that 20 characters long.</span>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput autocomplete="off" formControlName="email" placeholder="Ex. abc@123.com" required>
        <mat-error *ngIf="signUpForm.controls.email.invalid">
          <span *ngIf="signUpForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="signUpForm.controls.email.errors.email">This must be a valid email.</span>
          <span *ngIf="signUpForm.controls.username.errors.maxlength">Invalid. Too long.</span>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" required>
        <button mat-icon-button matSuffix type="button" id="hide-button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
        <mat-error *ngIf="signUpForm.controls.password.invalid">
          <span *ngIf="signUpForm.controls.password.errors.required">This field is mandatory.</span>
          <span *ngIf="signUpForm.controls.password.errors.minlength">Password must be at least 6 characters long.</span>
        </mat-error>
      </mat-form-field>
      <br/>
      <button class="submit-button" mat-raised-button [disabled]='!signUpForm.valid' color="primary" type="submit">Create my account</button>
    </form>
    <button class="back-button" mat-button type="button" (click)="goBack()">Back</button>
  </div>
</div>