.example-container{
    text-align: center;
    width: 400px;
    margin: 0px auto; 
    margin-top: 150px;
    border: 2px solid rgba(0, 0, 0, 0.472);
    border-radius: 15px;
}

.form-container{
    margin: 40px 70px;
}

.error{
    color: red;
    margin-bottom: 20px;
}

.back{
    padding: 3px 5px;
    margin-top: 10px;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form-field{
    display: block
}