<div class='example-form'>
    <mat-form-field appearance="outline" class="example-full-width" floatLabel="never">
        <input
        [(ngModel)]="searchField"
        autocomplete="off"
        matInput
        #input
        class='ais-search-box--input'
        (keyup)="onSearchChanged(input.value)"
        [value]="this.state.query"
        placeholder='Search for profiles'
        >
        <mat-icon matPrefix>search</mat-icon>
        <button mat-button mat-icon-button matSuffix (click)="this.state.clear(); clearSearchField()" *ngIf="searchField">
            <mat-icon>close</mat-icon>
        </button>   
    </mat-form-field>
</div>