<div *ngIf="profileLoaded">
    <div class="profile-header">
        <img class="profile-pic" [src]='picUrl' alt="Profile pic for {{ displayName }}">
        <div class="name-header">
            <h1>{{ displayName }}</h1>
            <h3>@{{ username }}</h3>
            <button *ngIf='!userFollowing && loggedIn' (click)='follow()' mat-button color="primary">Follow <mat-icon>check</mat-icon></button>
            <button *ngIf='userFollowing && loggedIn' (click)='unfollow()' mat-button color="accent">Unfollow <mat-icon>close</mat-icon></button>
        </div>
    </div>
    <button mat-button routerLink="discover/users">Back</button>
</div>