mat-icon {
    margin-right: 8px;
}

.profile-header{
    display: flex;
    margin: 10px;
}

h1{
    margin-bottom: 0px;
}

h3 {
    color: indigo;
}

.name-header{
    display: block;
    margin-left: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
}

.widget-container {
    margin: 30px;
}