.location-form {
    min-width: 150px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.map-card {
    max-width: 500px;
    min-width: 200px;
}

.page-container{
    text-align: center;
}

.form-container{
    width: 400px; 
    margin: 0 px auto; 
    margin-top: 200px
}

.form-field{
    display: block
}

#map {
    height: 500px;
}

div {
    width: 100%;
    
}
