
<!--<mat-card class="map-card">
  <form [formGroup]="mapsForm" class="location-form">
    <mat-form-field appearance="outline" class="full-width">
    <mat-label>Location</mat-label>
      <input matInput class="input"
        formControlName="location"
        #addresstext>
    </mat-form-field>
  </form>
  <div #mapElem id="map"></div>
  <mat-card-actions>
     Use custom zoom buttons 
    <button mat-raised-button (click)="zoomIn()">Zoom in</button>
    <button mat-raised-button (click)="zoomOut()">Zoom out</button>
  </mat-card-actions>
</mat-card> -->