
<!-- 
<h3 (click)="logout()">Welcome {{username}}!</h3>
<div><app-profile-card *ngFor="let user of users | async"
    [user]='user'></app-profile-card>
</div>
<app-recipe-card [recipe]="{recipeName:'Brownies', description: 'lhdkjfhkjsdhfkjhdskjhkkkhdsfkjhsdfsfsdfuuhihuhuihhuiuhiuhsffsfsfshuhsuhfishfishfsiu', difficulty: 'Hard'}"></app-recipe-card>

<button mat-button routerLink="/users">Go to users!</button>
don't need to use until end, since it will just take up quota every time the page loads
<app-map addressType="geocode"></app-map>
 -->
