.page-container{
    text-align: center;
}

.form-container{
    width: 400px; 
    margin: 0 px auto; 
    margin-top: 200px
}

.form-field{
    display: block
}

#map {
    height: 500px;
    width: 40%;
}

div {
    width: 100%;
    
}
