
<h3 (click)="logout()">Welcome {{username}}!</h3>
<div><app-profile-card *ngFor="let user of users | async"
    [user]='user'></app-profile-card>
</div>
<app-recipe-card [recipe]="{recipeName:'Brownies', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Facilisis sed odio morbi quis commodo odio. Aliquet lectus proin nibh nisl condimentum id venenatis a. ', difficulty: 'Hard'}"></app-recipe-card>