<img src={{pictureUrl}}>
<div class="form-container">
    <h2>Change Profile Photo</h2>
    <h4 class="error" *ngIf="error">{{ error }}</h4>
    <form [formGroup]="fileForm" (submit)="onFileSubmit()">
        <input type="file" formControlName="image" autocomplete="off" accept="image/*" (change)="onFileSelect($event)" required>
        <mat-error *ngIf="fileForm.controls.image.invalid">
            <span *ngIf="fileForm.controls.image.errors.fileType">Allowed types: png, jpg, jpeg, gif</span>
        </mat-error>
        <br>
        <button mat-raised-button [disabled]="fileForm.invalid || fileForm.pristine" color="primary" type="submit">Update Profile Photo</button>
    </form>
</div>
