<mat-card *ngIf='recipe' class="recipe-card">
  <img mat-card-image *ngIf='recipe.images && recipe.images.length != 0' [src]='recipe.images[0]' alt="Photo of {{ recipe.recipeName }}" class="card-img">
  <img mat-card-image *ngIf='recipe.images == null || recipe.images.length == 0' src="https://upload.wikimedia.org/wikipedia/commons/6/69/Banana.png" alt="Photo of stock food" class="card-img">
  <mat-divider></mat-divider>
  <mat-card-header>
      <mat-card-title>{{ recipeName }}</mat-card-title>
      <mat-card-subtitle><span>{{recipe.difficulty}}</span>
        <span class='rating'>{{ averageRating }}/5</span>
      </mat-card-subtitle>
  </mat-card-header>
</mat-card>
